<div ng-controller="auditUploadExcelController">
    <!--Tabla de resultados Detalles-->
    <table border="1" style="margin: 0 auto;" class="answerTable" >
        <tr class="answerTrTitle">
            <td>Id</td>
            <td>Tabla</td>
            <td>Traza</td>
            <td>Id Auditoria</td>
            <td>Nombre Columna</td>
            <td>Columna</td>
            <td>Fila</td>
            <td>Error</td>
        </tr>
        <tr ng-repeat="obj in listDetailAudit">
            <td class="answerTd">{{obj.id}}</td>
            <td class="answerTd">{{obj.tabla}}</td>            
            <td class="answerTd">{{obj.traza}}</td>
            <td class="answerTd">{{obj.idAudit}}</td>
            <td class="answerTd">{{obj.column_name}}</td>
            <td class="answerTd">{{obj.columna}}</td>
            <td class="answerTd">{{obj.row}}</td>
            <td class="answerTd">{{obj.message}}</td>
           
        </tr>
    </table>
</div>