.contenedor {
	margin-top: 4%;
	text-align: center;
	width: 60%;
	height: 500px;
	position: relative;
	margin: 0px auto;
}

.contenedor2 {
	text-align: left;
	margin-top: 5%;
	font: 12pt arial;
}

.titulo {
	text-align: center;
	font-weight: bold;
	color: black;
}

.selectArchivo {
	width: 100%;
}

.boton {
	padding: 5pt 64pt;
	background: #d0122d;
	color: #ffffff;
	font: bold 12pt arial;
	border: 0;
	margin: auto;
	display: block;
}

table {
	width: 75%;
	border-collapse: collapse;
}

td {
	padding: 20px;
}

.titulo {
	background-color: #dbdbdb;
	border-bottom: solid 1px #0f362d;
	color: white:
}