.contenedor {
	margin-top: 4%;
	text-align: center;
	/* 	width: 60%; */
	height: 500px;
	position: relative;
	margin: 0px auto;
}

.contenedor2 {
	text-align: left;
	margin-top: 3%;
	font: 12pt arial;
}

.queryTable {
	width: 75%;
	border-collapse: collapse;
}

.queryTd {
	padding: 8px;
}

#tituloConsulta, #tituloRespuesta {
	background-color: #dbdbdb;
	text-align: center;
	font-weight: bold;
	color: black;
	border-bottom: solid 1px #0f362d;
}

.selectArchivo {
	width: 100%;
}

.boton {
	padding: 5pt 64pt;
	background: #d0122d;
	color: #ffffff;
	font: bold 12pt arial;
	border: 0;
	margin: auto;
	display: block;
}

.answerTable {
	width: 75%;
	border-collapse: collapse;
}

.answerTd {
	padding: 20px;
}

.answerTrTitle {
	padding: 20px;
	background-color: #dbdbdb;
	text-align: center;
	font-weight: bold;
	color: black;
	border-bottom: solid 1px #0f362d;
}

.titulo {
	background-color: #dbdbdb;
	border-bottom: solid 1px #0f362d;
	color: white:
}