.contenedor {
	margin-top: 4%;
	text-align: center;
	width: 60%;
	height: 500px;
	position: relative;
	margin: 0px auto;
}

.contenedor2 {
	text-align: left;
	margin-top: 5%;
	font: 12pt arial;
}

.titulo {
	text-align: center;
	font-weight: bold;
	color: black;
}

.selectArchivo {
	width: 100%;
}

.boton {
	padding: 5pt 64pt;
	background: #d0122d;
	color: #ffffff;
	font: bold 12pt arial;
	border: 0;
	margin: auto;
	display: block;
}

table {
	border-collapse: collapse;
}

tr {
	font: 10pt arial;
	color: #474747;	
}
td{
	padding: 5px;
}


.titulo {
	background-color: #dbdbdb;
	border-bottom: solid 1px #0f362d;
	color: white:
}

.title {
	font: bold 13pt arial;
	color: #d0122d;
	text-align: center;
}

.btnExecute {
	padding: 3pt 64pt;
	background: #d0122d;
	color: #ffffff;
	font: bold 12pt arial;
	border: 0;
	margin: auto;
	display: block;
	margin-top: 2em;
}
.tables{
	width: 70%;	
	border: #d0122d 1px solid;
}

.tableTr{
		border: #d0122d 1px solid;
}

table#t01 tr:nth-child(even) {
  background-color: #f9f9f9;
}
table#t01 tr:nth-child(odd) {
  background-color: #ffffff;
}
table#t01 th {
/*   color: white; */
/*   background-color: #78b845; */
  font: bold 12pt arial;
  padding: 10pt;
  text-align: center;
}
.idAuditoria {
	margin-top: 2em;
	text-align: center
}
.idTable{
	border: 1px solid black;
}
