<link rel="stylesheet" type="text/css"
      href="recursos/Css/templateMenu.css">
<div ng-controller="menuController">
    <header id="cabecera">

        <!--Top Baner Logo-->
        <div id="topBanerLogo" class="topBanerLogo">
            <!--Div Derecho-->
            <div class="left">
                <div id="divContenedorLogo" class="divContenedorLogo">
                    <img alt="" src="recursos/Imagenes/bancompartir.png"
                         class="imgLogo" id="imgLogo">
                </div>
            </div>
            <!--Div Izquierdo-->
            <div class="right">
                <!--Datos de la sesion-->
                <div id="contenedorSesion" class="contenedorSesion">
                    <img alt="" src="recursos/Imagenes/exit.png"
                         style="cursor: pointer;" ng-click="logout()"> <br /> <label>Bienvenido(a)</label>
                    <br /> <label>{{username}}</label>
                </div>
            </div>
            <!--Div Central-->
            <div class="center">
                <div id="contenedorMenu" class="contenedorMenu">
                    <div id="menuPrincipal" class="menuPrincipal">
                        <!--Puntos de menu-->
                        <ul class="ul">
                            <li class="li"><a ng-click="sendHome()">Home</a></li>
                            <li class="li"><a ng-click="sendMigration()">Cargar Migracion</a></li>
                            <li class="li"><a ng-click="sendUpload()">Cargue Excel</a></li>
                            <li class="dropdown li">
                                <a class="dropbtn">Auditorias</a>
                                <div class="dropdown-content">
                                    <a ng-click="auditAs400()">Auditoria AS400</a>
                                    <a ng-click="auditMigration()">Auditoria Migraci&oacute;n</a>
                                    <a ng-click="auditUploadExcel()">Auditoria Cargue Excel</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>
