<link rel="stylesheet" type="text/css"
      href="recursos/Css/templateMenu.css">
      <meta charset="utf-8" /> 
<div ng-controller="menuController">
    <header id="cabecera">

        <!--Top Baner Logo-->
        <div id="topBanerLogo" class="topBanerLogo">
            <!--Div Derecho-->
            <div class="left">
                <div id="divContenedorLogo" class="divContenedorLogo">
                    <img alt="" src="recursos/Imagenes/bancompartir.png"
                         class="imgLogo" id="imgLogo">
                </div>
            </div>
            <!--Div Izquierdo-->
            <div class="right">
                <!--Datos de la sesion-->
                <div id="contenedorSesion" class="contenedorSesion">
                    <img alt="" src="recursos/Imagenes/exit.png"
                         style="cursor: pointer;" ng-click="logout()"> <br /> <label>Bienvenido(a)</label>
                    <br /> <label>{{username}}</label>
                </div>
            </div>
            <!--Div Central-->
            <div class="center">
                <div id="contenedorMenu" class="contenedorMenu">
                    <div id="menuPrincipal" class="menuPrincipal">
                        <!--Puntos de menu-->
                        <ul class="ul">
                            <li class="li"><a ng-click="sendHome()">Home</a></li>
                            <li class="li"><a ng-click="sendMigration()">Cargar Migracion</a></li>
                            <li class="li"><a ng-click="sendUpload()">Cargue Excel</a></li>
                            <li class="dropdown li">
                                <a class="dropbtn">Auditorias</a>
                                <div class="dropdown-content">
                                    <a ng-click="auditAs400()">Auditoria AS400</a>
                                    <a ng-click="auditMigration()">Auditoria Migraci&oacute;n</a>
                                    <a ng-click="auditUploadExcel()">Auditoria Cargue Excel</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
             <!--Div Inferior-->
            <div class = "inferior">            
	 			<div id="imgBancompartir" class="imgBancompartir">
					<img alt="" src="recursos/Imagenes/bancompartir.png">	
					<p>
					 En Bancompartir creemos menos en los papeles y más en la palabra. Somos una entidad
					  comprometida que crece con su gente. Somos una institución financiera que genera
					  oportunidades de vida y de negocio para el progreso, desarrollo y mejoramiento
					  de la calidad de vida de las empresas familiares y los microempresarios colombianos,
					  principalmente de los estratos 1, 2 y 3 de todo el país.
					</p>
					
					
				<div class="footer2">
					<p class="texto1">
						Bancompartir S.A. todos los derechos reservados 2018. Usar este web site
						implica que usted acepta nuestras Políticas y Términos.
						<br> 
						Prohibida su reproducción total o parcial, así como su traducción a cualquier idioma
						sin autorización escrita de su titular. 
					 </p>
<!-- 						<p class="texto2">  -->
<!-- 							    <a href="https://www.bancompartir.co/upload/pdf/quienes-somos/1.AVISO-DE-PRIVACIDAD-13042015.pdf" target="_blank">Aviso de Privacidad</a> <a href="https://www.bancompartir.co/upload/pdf/quienes-somos/2.POLIITICAS-PARA-TRATAMIENTO-DE-LA-INFORMACION-13042015.pdf" target="_blank">Política Tratamiento de Datos Personales</a> </p> <a href="http://www.egt.com.co" target="_blank" class="powered">Desarrollado por: <img src="upload/img/firma_egt.png" alt="e-Group Technologies"></a> <a href="https://www.superfinanciera.gov.co" target="_blank" class="super"><img src="upload/img/superfinanciera.png" alt="Superfinanciera"></a> </div> -->
									
            	</div>
            
            		
            
        	</div>
        </div>
    </header>
</div>
