<ng-include src="'template/menu/menu.html'"></ng-include>
<link rel="stylesheet" type="text/css"
   href="recursos/Css/auditoriaCargueExcel.css">
<div ng-controller="uploadController" class="contenedor" id="contenedor">
   <div class="contenedor2" id="contenedor2">
       <div class="title">
            <td class="queryTd" id="tituloConsulta" colspan="6">Consulta
               Cargue Excel
            </td>
       </div><br>
      <table border="0" style="margin: 0 auto;" class="queryTable">     
         <tr>
            <td class="queryTd"><label>Fecha Inicio:</label></td>
            <td><input type="date" id="fechaInicio" class="fechaAuditoria"
               style="width: 97%; padding: 2pt;"></td>
            <td class="queryTd"><label>Fecha Fin:</label></td>
            <td><input type="date" id="fechaFin" class="fechaAuditoria"
               style="width: 97%; padding: 2pt;"></td>
            <td class="queryTd"><label>Filtrar por Id:</label></td>
            <td><input id="idAudit" type="text" style="width: 97%; padding: 2pt;"></td>
         </tr>        
      </table>
       <div>
            <td><input type="button"
               class="boton" value="Consultar" ng-click="getAuditByDate()">
            </td>
         </div>     
      <div class ="filtro">
      	 <table class="idTable" style="margin: 0 auto"; ng-show="showAnswerTable" >
            <tr>
               <td class="queryTd"><label>Filtrar Por Tabla:</label></td>
               </td>
               <td colspan=3">
                  <select id="selectTable" class="selectTable" >
                     <option value="0">-----  SELECCIONAR TODO  -----</option>
                     <option>BIG_PARA_INDICADORES</option>
                     <option>BIG_PROSPECTOS</option>
                     <option>BIG_METAS_OFICINA</option>
                     <option>BIG_METAS_FUERZA_COMERCIAL</option>
                     <option>BIG_INFO_FINANCIERA</option>
                     <option>BIG_GEOREFERENCIAR_PROSPECTO</option>
                     <option>BIG_DESENDEUDESE</option>
                     <option>BIG_CIFIN_BUREAU</option>
                     <option>BIG_GENERA_ICS</option>
                     <option>BIG_PRODUCTOS</option>
                     <option>BIG_SEGUROS</option>
                     <option>BIG_CALIFICACION_CARTERA_CLIENTE</option>
                  </select>
               </td>
            </tr>
         </table>
         <!--Tabla de resultados-->
         <table border="1" style="margin: 0 auto;" ng-show="showAnswerTable"
            class="answerTable" id="t01">
            <tr class="answerTrTitle">
               <td>Id</td>
               <td>Usuario</td>
               <td>Fecha</td>
               <td>Detalle</td>
               <td>Estado</td>
            </tr>
            <tr ng-repeat="obj in listAudit | startFromGrid: currentPage * pageSize | limitTo: pageSize">
               <td class="answerTd">{{obj.id}}</td>
               <td class="answerTd">{{obj.usuario}}</td>
               <td class="answerTd">{{obj.fecha}}</td>
               <td class="answerTd"><u ng-click="getDetailById(obj)"
                  style="cursor: pointer;">Ver detalles...</u></td>
               <td class="answerTd">{{obj.estado}}</td>
            </tr>
            <!--Paginador-->
            <tr>
            	<td align="center" colspan="10">
                    <!-- Navegar hacia atrás -->
                    <button type='button' ng-disabled='currentPage == 0' ng-click='currentPage = currentPage - 1'>&laquo;</button>

                    <!-- Navegar a una página especifica-->
                    <button type='button' ng-disabled='currentPage == page.no - 1' ng-click='setPage(page.no)' ng-repeat='page in pages'>{{page.no}}</button>

                    <!-- Navegar hacia adelante -->
                    <button type='button' ng-disabled='currentPage >= listAudit.length/pageSize - 1' ng-click='currentPage = currentPage + 1'>&raquo;</button>
                </td>
            </tr>
         </table>        
      </div>
   </div>
</div>
