<ng-include src="'template/menu/menu.html'"></ng-include>
<link rel="stylesheet" type="text/css"
      href="recursos/Css/auditoriaAs400.css">
<div class="contenedor" id="contenedor">
    <div class="contenedor2" id="contenedor2">

        <table border="1" style="margin: 0 auto;" class="queryTable">
            <tr>
                <td class="queryTd" id="tituloConsulta" colspan="2">Consulta
                    Auditoria AS400</td>
            </tr>
            <tr>
                <td class="queryTd"><label>ESTADO</label></td>
                </td>
                <td>
                    <select id="selectEstado" class="selectEstado" >
                        <option value="0">Pendientes por migrar</option>
                        <option value="1">Migrados</option>
<!--                         <option value="-2">Errores</option> -->
                        <option value="3">Seleccionar todo</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="queryTd" colspan="2">
                    <input type="button" class="boton" value="Consultar" ng-click="getFind()"></td>
            </tr>
        </table>
        </br> </br>

		<!-- Tabla Respuesta -->
        <table border="1" style="margin: 0 auto;" ng-show="showAnswerTableAs" class="answerTable">

             <tr class="answerTrTitle">
                <td>CONSECUTIVO</td>
                <td>NOMBRE RPG</td>
                <td>NOMBRE FISICO</td>
                <td>CANTIDAD REG RX</td>
                <td>ESTADO</td>
                <td>CANTIDAD REG MIGRADOS</td>
                <td>DIA</td>
                <td>MES</td>				
                <td>A&ntilde;o</td>
                <td>HORA</td>

            </tr>
            <tr ng-repeat="obj in listAuditAs400">
                <td class="answerTd">{{obj.id}}</td>
                <td class="answerTd">{{obj.nombreRPG}}</td>
                <td class="answerTd">{{obj.nombreTabla}}</td>
                <td class="answerTd">{{obj.cantRegistrosRX}}</td>
                <td class="answerTd">{{obj.estado}}</td>
                <td class="answerTd">{{obj.regMig}}</td>
                <td class="answerTd">{{obj.dia}}</td>
                <td class="answerTd">{{obj.mes}}</td>
                <td class="answerTd">{{obj.anio}}</td>
                <td class="answerTd">{{obj.hora}}</td>
            </tr>
            <!--Paginador-->
            <tr> 
                <td align="center" colspan="10" >
                    <button class="btnPaginador" type="button" ng-disabled="t1CurrentPage == 0" ng-click="t1CurrentPage = 0">
                        Primero
                    </button>
                    <button class="btnPaginador"  type="button" ng-disabled="t1CurrentPage == 0" ng-click="t1CurrentPage = t1CurrentPage - 1">
                        Anterior
                    </button>
                    {{t1CurrentPage + 1}}/{{t1NumberOfPages()}}
                    <button class="btnPaginador" type="button" ng-disabled="t1CurrentPage >= listAuditAs400.length / t1PageSize - 1" ng-click="t1CurrentPage = t1CurrentPage + 1">
                        Siguiente
                    </button>
                    <button class="btnPaginador" type="button" ng-disabled="t1CurrentPage >= listAuditAs400.length / t1PageSize - 1"  ng-click="t1CurrentPage = t1NumberOfPages - 1">
                        &Uacute;ltimo
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>
