<ng-include src="'template/menu/menu.html'"></ng-include>

<link rel="stylesheet" type="text/css" href="recursos/Css/auditoriaMigracion.css">
<div ng-controller="uploadController" class="contenedor" id="contenedor">
    <div class="contenedor2" id="contenedor2">    	
     	<div class="title">
     		<td id="tituloConsulta" colspan="6">Consulta Auditoria Migraci&oacute;n</td>
        </div><br>

        <table border="0" style="margin: 0 auto;" class="queryTable">
          
            <tr>
                <td class="queryTd">
                    <label>Fecha Inicio:</label>
                </td>
                <td>
                    <input type="date" id="fechaInicio" class="fechaAuditoria"  style="width: 97%;padding: 2pt;">
                </td>
                <td class="queryTd">
                    <label>Fecha Fin:</label>
                </td>
                <td>
                    <input type="date" id="fechaFin" class="fechaAuditoria" style="width: 97%;padding: 2pt;">
                </td>
                <td class="queryTd"><label>Filtrar por Id:</label></td>
            <td><input id="idAudit" type="text" style="width: 97%; padding: 2pt;"></td>
            </tr>
            </table>            
                <td class="queryTd" colspan="4">
                    <input type="button" class="boton" value="Consultar" ng-click="getAuditByDate()">
                </td>
           
       
        </br></br></br>

        <div>
            <!--Tabla de resultados-->
            <table border="1" style="margin: 0 auto;" ng-show="showAnswerTable" class="answerTable" id="t01">
                <tr class="answerTrTitle">
                    <td class="queryTd">Id</td>
                    <td class="queryTd">Usuario</td>  
                    <td class="queryTd">Fecha</td>
                    <td class="queryTd">Detalle</td>
                </tr>
                <tr ng-repeat="obj in listAudit | startFromGrid: currentPage * pageSize | limitTo: pageSize">
                    <td class="answerTd">{{obj.id}}</td>
                    <td class="answerTd">{{obj.usuario}}</td>
                    <td class="answerTd">{{obj.fecha}}</td>
                    <td class="answerTd"><u ng-click="getDetailById(obj)"  style="cursor: pointer;">Ver detalles...</u></td>
                </tr>
                <!--Paginador-->
                <tr> 
                    <td align="center" colspan="10">
                    	<!-- Navegar hacia atrás -->
                    	<button type='button' ng-disabled='currentPage == 0' ng-click='currentPage = currentPage - 1'>&laquo;</button>

                   		<!-- Navegar a una página especifica-->
                    	<button type='button' ng-disabled='currentPage == page.no - 1' ng-click='setPage(page.no)' ng-repeat='page in pages'>{{page.no}}</button>

                    	<!-- Navegar hacia adelante -->
                    	<button type='button' ng-disabled='currentPage >= listAudit.length/pageSize - 1' ng-click='currentPage = currentPage + 1'>&raquo;</button>
                	</td>
                </tr>
            </table>
        </div>

    </div>
</div>
