<ng-include src="'template/menu/menu.html'"></ng-include>
<link rel="stylesheet" type="text/css"
      href="recursos/Css/contenedorCargue.css">
<div ng-controller="uploadController" class="contenedor" id="contenedor">
    <div class="contenedor2" id="contenedor2">
        <div>
            <p class="title">Cargue Manual</p>

            <table>
                <tr>
                    <td>Tablas</td>
                </tr>
                <tr ng-repeat="obj in listFiles">
                    <td>{{obj}}</td>
                </tr>
                <tr>
                    <td>
                        <button ng-click="executeProcess()" class="btnExecute">Ejecutar</button>				
                    </td>
                </tr>
            </table>
        </div>	
    </div>
</div>
