<ng-include src="'template/menu/menu.html'"></ng-include>

<div ng-controller="uploadController">
	<form enctype="multipart/form-data" id="formuploadajax" method="post"
		action="servletupdate">
		<label>Archivo a Cargar: </label> 
		<select name="archivo"
			id="nombreArchivoCsv" ng-model="nombreArchivoCsv" ng-options="o as o for o in listFiles"  ng-init="nombreArchivoCsv='Seleccione un Archivo'">
		</select> </br> <input type="file" name="archivoCsv" id="archivoCsv"
			ng-model="archivoCsv"> </br> <input type="button" value="Cargue"
			ng-click="uploadFile()">
	</form>
</div>