/* 
    Created on : 17/01/2019, 04:36:52 PM
    Author     : Jeferson
*/
.divContenido {
	display: initial;
	height: 100%;
	margin: 0 auto;
	width: 100%;
}

.topBanerLogo {
	min-height: 62px;
	margin: 0 auto;
	position: relative;
	width: 100%;
	background-color: #d0122d;
	padding-top: 30px;
}

.divContenedorLogo {
	margin-left: 1%;
}

.topBanerBackground {
	/*background-color:  whitesmoke;*/
	width: 657px;
	height: 445px;
	position: relative;
	margin: 0 auto;
}

.imgFondo {
	position: relative;
	opacity: 0.5;
}

.sobreImage {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.imgLogo2 {
	width: 180px;
	height: 161px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.contenedorLogin {
	background: #ffffff;
	width: 480px;
	height: 200px;
	position: relative;
	margin: 0 auto;
}

.divCabeceraLogin {
	background: #dbdbdb;
	width: 480px;
	height: 30px;
	font: bold 13pt arial;
	text-align: center;
	color: #d0122d;
	padding-top: 10px;
	padding-bottom: 0px;
}

.divLbUsuario, .divLbContrasena {
	width: 130px;
	height: 30px;
	padding-top: 20px;
	padding-bottom: 0px;
	background: #ffffff;
	float: left;
	font: 11pt arial regular;
	color: #474747;
}

.divInpUsuario, .divInpContrasena {
	width: 350px;
	height: 30px;
	padding-top: 20px;
	padding-bottom: 0px;
	float: right;
	background: #ffffff;
}

.divBoton {
	background: #ffffff;
}

.txtUsuario, .txtContrasena {
	padding: 2pt 25px;
}

.btnIngresar {
	margin-top: 15px;
	margin-left: 130px;
	padding: 3pt 64pt;
	background: #d0122d;
	color: #ffffff;
	font: bold 10pt arial;
	border: 0;
}

hr {
	margin-top: 7%;
	color: #d0122d;
}